<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Create</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h3>Create Student</h3>
  <form action="#" th:action="@{/products/create}" th:object="${product}" method="post">

    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" th:field="*{name}" />
    </div>

    <div class="form-group">
      <label>Price</label>
      <input class="form-control" type="text" th:field="*{price}" />
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input class="form-control" type="text" th:field="*{quantity}" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

</body>
</html>