<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<ul>

    <div class="container">
        <div class="">
            <h4 class="text-center">List Student</h4>
            <table class="table" style="height: 500px;">
                <thead class="table-info">
                <tr  class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col" style="width: 10%">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>



                </tr>
                </thead>
                <tbody>
                <tr th:each="st: ${listProduct}" class="contentPage">
                    <td scope="col" style="text-align: center" th:text="${st.id}">
                    </td>
                    <td scope="col" style="text-align: center" th:text="${st.name}">
                    </td>
                    <td scope="col" style="text-align: center" th:text="${st.price}">
                    </td>
                    <td scope="col" style="text-align: center" th:text="${st.quantity}">
                    </td>
                    </td>
                    <td><input type="number" class="form-control"  name="quantitySell">
                        <button>Sell</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</ul>





</body>

</html>